img{
  max-height: 129px;
}

.chip img{
  width: 50px;
}
.favoritos img{
  width: 90%;
  height: 90%;

}
.articulo img{
  width: 100%;
}
body{
background-image: url(../img/fondo.jpg);
}

.encabezado{
  background: hsla(360, 100%, 100%, 0.8);
  margin: 0px 50px 0px 50px;
}
.general{
  background: hsla(360, 100%, 100%, 0.5);
  margin: 0px 50px 0px 50px;
}

.articulo{
  background: #D0F5A9;
  padding: 10px;
}
.collection-item{
  background: #D0F5A9;
  padding: 10px;
}
.textarea{
  background: #D0F5A9;
  padding: 10px;
}
.menu{
  background: #ECE0F8;
  padding: 10px;
}
.favoritos{
  background: #ECE0F8;
  padding: 10px;
}
.nav{
  background: #ECE0F8;
  padding: 10px;
}
.buscador{
  background: #ECE0F8;
  padding: 10px;
}
