img{
  max-height: 129px;
}

.chip img{
  width: 50px;
}
.favoritos img{
  width: 90%;
  height: 90%;

}
.articulo img{
  width: 100%;
}
body{
background-image: url(../img/fondo.jpg);
}

.encabezado{
  background: yellow;
}
